*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    scroll-behavior: smooth;
}

.mt-16{
    margin-top: 16px;
}
.mt-32{
    margin-top: 32px;
}
.right {
    float: right !important;
}
.fs{
    font-size: 1rem;
}
.padding-2{
    padding: 4px 0;
}
.text-white{
    color: white !important;
}
.center{
    text-align: center !important;
}
.margin-{
    margin: -10px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-3{
    width: 32%;
}
.col-2{
    width: 49%;
}
.col-1{
    width: 100%;
}
#header{
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 52px;
    background-color: black;
}
#nav {
    display: inline-block;
}
#nav li a{ 
    text-decoration: none;
    display: block;
}
#nav > li { 
    display: inline-block;
    position: relative;
}
#nav > li > a{
    color: white;
    line-height: 52px;
    padding: 0 15px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: smaller;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
    background-color: #ccc;
    color: black;
}
#nav li:hover .subnav{
    display: block;
}
.subnav {
    background-color: #fff;
    display: none;
    position: absolute;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.subnav a{ 
    padding: 12px 50px 12px 14px;
    color: black;
    font-size: smaller;
}
.ti-arrow-circle-down {
    font-size: 10px;
}
.search{
    font-weight: 900;
    color: white;
    float: right;
    line-height: 52px;
    padding: 0 25px;
}
#header .search:hover{
    background-color: red;
    cursor: pointer;
}
#slider{
    margin-top: 36px;
    position: relative;
    padding-top: 50%;
    background: url("http://127.0.0.1:5500/assets/img/chicago.jpg") top center / cover no-repeat;
}
#slider .slider-content{
    position: absolute;
    color: white;
    bottom: 30px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}
.slider-name{
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: 500;
}
.slider-decs{
    font-size: 1rem;
    font-weight: 500;
    text-shadow: 0 0 1px #000;
}
.ct-name{
    text-align: center;
    letter-spacing: 4.6px;
    padding: 18px 0;
    font-weight: lighter;
    font-size: 2rem;
}
.ct-slg{
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    font-size: 1rem;
    padding-bottom: 24px;
}
/* About */
.about-text{
    text-align: justify;
    font-size: 0.8rem;
    line-height: 1.6;
}
.member-img{
    height: 18vw;
    border-radius: 10px;
}
.member-name{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 5px;
}
.tour-section{
    background-color: black;
}
.tour-box{
    margin: 20px 0;
}
.tour-date{
    background-color: white;
    padding: 8px;  
    font-size: 0.9rem; 
    border: 0.02px solid rgba(0, 0, 0, 0.1); 
}
.tour-date i{
    color: black;
    opacity: 0.6;
}
.sold-out{
    background-color: red;
    color: white;
    padding: 2px 4px;
    margin-left: 6px ;
}
.quantity{
    background-color: black;
    color: white;
    float: right;
    padding: 1px 5px;
    border-radius: 50%;
}
.tour-img{
    width: 100%;
}
.tour-img:hover{
    opacity: 0.6;
}
.tour-place{
    background-color: #fff;
    margin-top: -5px;
    padding: 12px 10px;
    font-size: 0.8rem;
}
.place-name{
    margin-bottom: 8px;
    font-weight: 600;
}
.tour-day{
    opacity: 0.5;
    margin-bottom: 8px;
}
.tour-decs{
    margin-bottom: 14px;
}
.tour-btn{
    background-color: black;
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    border: none;
}
.tour-btn:hover{
    background-color: #ccc;
    color: black;
}
.contact-text{
    font-size: 0.8rem;
}
.contact-text span {
    margin-left: 6px;
}
.contact-text span a {
    color: #0b38ff;
    opacity: 0.8;
}
.contact-text span a:hover {
    opacity: 1;
}    
.contact-btn{
    margin-top: 5px;
    border: none;
    background-color: black;
    color: white;
    padding: 8px 14px;
}
.contact-btn:hover{
    background-color: #ccc;
    color: black;
}
.form-contact{
    border: 1px solid #ccc;
    padding: 6px;
    width: 100%;
}
.map{
    padding-top: 50%;
    background: url("http://127.0.0.1:5500/assets/img/map.jpg") top center /cover no-repeat;
    filter: grayscale(50%);
}
#footer{
    padding: 48px;
    text-align: center;
    color: rgb(141, 136, 136);
}
.ti:hover{
    opacity: 0.6;
}
.link{
    margin-top: 6px;
    font-size: 0.9rem;
}
.w3{
    color: rgb(141, 136, 136);
}
/* Modal */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-container{
    position: relative;
    width: 90vw;
    max-width: 600px;
    background-color: #fff;
    animation: modalFadeIn ease .6s;
}
.modal.open{
    display: flex;
}
.modal-close{
    position: absolute;
    right: 0;
    padding: 10px;
    font-size: 6px;
    color: white;
    opacity: 0.6;
}
.modal-close:hover{
    opacity: 1;
}
.modal-header{
    height: 86px;
    background-color: #009688;
    text-align: center;
    padding: 33px;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
}
.modal-body{
    padding: 12px;
}
.modal-box{
    margin-bottom: 12px;
}
.modal-label{
    font-size: smaller;
}
.modal-input{
    margin-top: 6px;
    font-size: 10px;
    padding: 4px;
    border: 1px solid #ccc;
}
.modal-pay{
    border: none;
    background-color: #009688;
    color: white;
    padding: 10px;
    font-size: 12px;
}
.modal-pay:hover{
    background-color: #ccc;
    color: black;
}
.modal-footer{
    float: right;
    padding: 10px 10px 18px 0;
    font-size: 11px;
}
.modal-footer a{
    color: #2196F3;
}
@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
